## Lists

In [2]:
emptylist= []
numberlist = [1,2,3]
mixedlist = [1,"22","string",44.5]
print(emptylist,numberlist,mixedlist)
# nested list
nested = ["abc",[8,4,6],["def"]]
print(nested)

[] [1, 2, 3] [1, '22', 'string', 44.5]
['abc', [8, 4, 6], ['def']]

In [8]:
lst = [1,2,3,4,5,6]
print(lst[0])
print(lst[5])
#print(lst[6]) # index out of range 
print(len(lst))
print(lst[2:5])
lst[2:4] = []
print(lst)

#nested list index
lstt = [['a', 'b', 'c'], [1, 2, 3]]
print(lstt[0])
print(lstt[1][1])

1
6
6
[3, 4, 5]
[1, 2, 5, 6]
['a', 'b', 'c']
2

In [22]:
list1 = [1,2,3]
list2 = ["a","b","c"]
list3 = [4,5,6]
print(list1+list2)
list1.append(list2) # adds the list2 as an element to the list1
print(list1)
print(len(list1))
list1.extend(list3) # add all elements of list2 to list1
print(list1)
print(len(list1))
list1.insert(2,50) # adding element to list
print(list1)
list1.remove(50)
print(list1)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, ['a', 'b', 'c']]
4
[1, 2, 3, ['a', 'b', 'c'], 4, 5, 6]
7
[1, 2, 50, 3, ['a', 'b', 'c'], 4, 5, 6]
[1, 2, 3, ['a', 'b', 'c'], 4, 5, 6]

#### List Comprehensions

In [25]:
# An expression followed by for clause and more for or if clauses
sqlist = [x**2 for x in range(1,10)] 
print(sqlist)

cubelist = [x**3 for x in range(1,10)]
print(cubelist)

evenlist = [x for x in range(1,11) if x%2==0]
print(evenlist)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[2, 4, 6, 8, 10]

## Tuples

In [32]:
emptytpl = ()
singletpl = ("hello",)
singletpl2 = ("hello") # notice we cannot create single element tuple without the comma
print(emptytpl)
print(singletpl, type(singletpl))
print(singletpl2, type(singletpl2))

()
('hello',) <class 'tuple'>
hello <class 'str'>

In [34]:
numtpl = (1,2,3,4)
mixedtpl = (1,2.0,True, "four")
nestedtpl = (1,"abc",[3,4,5],("d","e"))
print(numtpl,mixedtpl,nestedtpl)

(1, 2, 3, 4) (1, 2.0, True, 'four') (1, 'abc', [3, 4, 5], ('d', 'e'))

In [35]:
# Packing and Unpacking tuple

# tuple packing
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple
print(a)      # 3
print(b)      # 4.6
print(c)      # dog

(3, 4.6, 'dog')
3
4.6
dog

In [39]:
#Tuples are immutable unlike lists
lsst = [1,2,3,4]
lsst[2] = 6
print(lsst)

tpl = (1,2,3,4)
tpl[2] = 6
print(tpl)

[1, 2, 6, 4]

TypeError: 'tuple' object does not support item assignment

## Dictionaries

In [5]:
emptydict = {}
print(type(emptydict))
dict1 = {1:"1",2:"2"}
print(dict1)
mixeddict2 = {"1":"1","2":2,3:"3",4:4,1:11}
print(mixeddict2)

<class 'dict'>
{1: '1', 2: '2'}
{'1': '1', '2': 2, 3: '3', 4: 4, 1: 11}

In [8]:
mixeddict2 = {"1":"1","2":2,3:"3",4:4,1:11}
print(mixeddict2.get("1"))
print(mixeddict2.get("11"))

1
None

In [11]:
dict3 ={1:2,3:4,5:6}
print(dict3)

#print(dict[1]) # error

dict3[1]=22 # update single element
print(dict3)

dict3[7] = 8 # adds pair to dict if does not exist
print(dict3)

{1: 2, 3: 4, 5: 6}
{1: 22, 3: 4, 5: 6}
{1: 22, 3: 4, 5: 6, 7: 8}