In [ ]:
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa
#!pip install ipython-sql

!pip install -U sqlalchemy==1.3.9 
!pip install -U ibm_db_sa 
!pip install -U ipython-sql 
!pip install -U ibm-db 
import ibm_db

In [2]:
%load_ext sql

In [5]:
%sql ibm_db_sa://wpr80803:HlMq7GCRiVibO8M4@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
No module named 'psycopg2'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [36]:
# Problem 1: Find the total number of crimes recorded in the CRIME table.
#%sql Select count(distinct(primary_type)) from crimedata
%sql select count(*) from crimedata

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(533,)]

In [15]:
# Problem 2: List community areas with per capita income less than 11000.
%sql select community_area_name from censusdata where per_capita_income <11000

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [18]:
# Problem 3: List all case numbers for crimes involving minors?
%sql select case_number from crimedata where upper(description) like '%MINOR%'

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('HL266884',), ('HK238408',)]

In [19]:
# Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)
%sql select * from crimedata where upper(primary_type) = 'KIDNAPPING' and upper(description) like '%CHILD%'

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [37]:
# Problem 5: What kind of crimes were recorded at schools?
%sql select distinct(primary_type) as crimes from crimedata where upper(location_description) like '%SCHOOL%'

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

In [38]:
# Problem 6: List the average safety score for all types of schools.
%sql select school_type, avg(safety_score) as avg_safety_scr from publicschools group by school_type

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

In [29]:
# Problem 7: List 5 community areas with highest % of households below poverty line.
%sql select community_area_name from censusdata order by percent_households_below_poverty desc limit 5

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

In [33]:
# Problem 8: Which community area(number) is most crime prone?
%sql select community_area_number from crimedata group by community_area_number order by count(case_number) desc limit 1

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(25,)]

In [34]:
# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.
%sql select community_area_name from censusdata where hardship_index in(select max(hardship_index) from censusdata)

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Riverdale',)]

In [35]:
#Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?
%sql select community_area_name from censusdata where community_area_number in(select community_area_number from crimedata group by community_area_number order by count(case_number) desc limit 1)

   ibm_db_sa://gjw73096:***@21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31864/bludb
 * ibm_db_sa://wpr80803:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Austin',)]