<a href="https://colab.research.google.com/github/nit-kat/Python/blob/main/Recap__Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="100" /></center>

**<center><h3>Recap: Python for Data Science Assignment Problem</h3></center>**

---
**<h4>Question 1:** Create a function that swap two numbers with their position.</h4>

---

- For example, you entered `a = 5` and `b = 6`.

- The value returned will be `a = 6` and `b = 5`.

<details>

**<summary>Hint:</summary>**

- There are two ways by which you can achieve this.

- Either you can take three variables or try out some maths operations.

</details>

In [ ]:
def swapValues(a=None, b=None):
  # Put your code here.
  a,b = b,a
  return a,b

In [ ]:
swapValues(a=5, b=6)

(6, 5)

---
**<h4>Question 2:** Create a function that converts the datatype of a variable to a string type if it is not numeric.</h4>

---

- For example, you entered `num = 10` and its type is `int`.

- The value returned will be `num = 10` and its type will be `str`.

<details>

**<summary>Hint:</summary>**

- You must have learned about the typecasting in the python starter kit. Haven't you?

- You can either put chained conditions to identify the data type and then typecast it,

- Or directly convert the data type despite of its type.

</details>

In [ ]:
def convertType(num=None):
  # Put your code here.
  return str(num)

In [ ]:
num = float(input("Enter num: "))
output = convertType(num)
print("Input = ", num)
print("Type of input = ", type(num))
print("Output = ", output)
print("Type of output = ", type(output))

Enter num: 8
Input =  8.0
Type of input =  <class 'float'>
Output =  8.0
Type of output =  <class 'str'>

In [ ]:
print(convertType(num=10), type(convertType(num=10)))
print(convertType(num ='strr'), type(convertType(num ='strr')))

10 <class 'str'>
strr <class 'str'>

---
**<h4>Question 3:** Create a function that calculates area of the triangle from user input.</h4>

---

- For example, you entered `base = 10` and `height = 3`.

- The value returned will be `area = 15`.

<details>

**<summary>Hint:</summary>**

- The formula to estimate area of triangle is $\large \frac{1}2 * base * height$

</details>

In [ ]:
def areaOfTriangle():
  # Put your code here.
  base = float(input("Enter base :"))
  height = float(input("Enter height :"))

  return 1/2 *base *height

In [ ]:
# Calling function to estimate area of triangle
areaOfTriangle()

Enter base :10
Enter height :3

15.0

---
**<h4>Question 4:** Create a function that displays largest number from the provided list.</h4>

---

- For example, there's a list as `[18, 12, 28, 16, 22, 29, 23, 26]`.

- The value returned will be `area = 29`.

<details>

**<summary>Hint:</summary>**

- You must have learned about the control flow in the python starter kit. Haven't you?

- There can be many ways to achieve this, but let's think in a simple logical way.

- You initialize a variable with any value present in the list. Let's say first value, list[0].

- Then iterate over each value present in the list and check if it's greater than the initialized value.

- If it's greater than the value you assign it back to the initialzed variable and return it.

</details>

In [ ]:
def maxValue(list_in):
  # Put your code here.
  list_in.sort()
  return list_in[-1]

  # return max(list_in) # alternate way

In [ ]:
maxValue(list_in=[18, 12, 28, 16,112, 22, 29, 23, 26])

112

---
**<h4>Question 5:** Create a function that removes duplicate values from the provided list.</h4>

---

- For example, there's a list as `[10, 20, 30, 40, 50, 60, 70, 40, 80, 50, 40]`.

- The returned list will be `[70, 40, 10, 80, 50, 20, 60, 30]`.

<details>

**<summary>Hint:</summary>**

- You can typecast your list to a set type and then again typecast it to a list.

- You can also use control flow over the list with different python operators to achieve the objective.

</details>

In [ ]:
def removeDuplicates(list_in):
  # Put your code here.
  list_in = set(list_in)
  return list(list_in)

In [ ]:
removeDuplicates(list_in=[10, 20, 30, 40, 50, 60, 70, 40, 80, 50, 40, 20])

[70, 40, 10, 80, 50, 20, 60, 30]

In [ ]:
set1 = {('a','b','c')}
print(set1, len(set1))
set2 = set('abc')
print(set2, len(set2))

{('a', 'b', 'c')} 1
{'c', 'b', 'a'} 3

---
**<h4>Question 6:** Create a function that displays a sum of values present in a list.</h4>

---

- For example, there's a list as `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

- The returned sum will be `55`.

<details>

**<summary>Hint:</summary>**

- You must have learned about the control flow in the python starter kit. Haven't you?

- Initialize a variable with a zero value.

- Then iterate over the list along with the intialized value to get a sum. 

</details>

In [ ]:
def sumList(list_in):
  # Put your code here.
  sum=0
  for x in list_in:
    sum+=x 
  
  return sum

  #return sum(list_in) # alternate way

In [ ]:
sumList(list_in=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10,10,True])

66

---
**<h4>Question 7:** Create a function that reverse a provided string.</h4>

---

- For example, you passed a string such as `INSAID`.

- The returned string will be `DIASNI`.

<details>

**<summary>Hint:</summary>**

- There are several ways to achieving the defined objective.

- Either you can iterate over the characters of the string or use the string striding (mostly used).

</details>

In [ ]:
for i in range(-1, -7, -1):
    print(i)

-1
-2
-3
-4
-5
-6

In [ ]:
def stringReverse():
  # Put your code here.
  str1 = input("Enter String :")

  #for i in range()
  length = -len(str1)-1
  str2 = str1[-1:length:-1]
  
  return str2

In [ ]:
# Display the reverse string
print('Reversed String: {}'.format(stringReverse()))

Enter String :INSAID
Reversed String: DIASNI

---
**<h4>Question 8:** Create a function that returns a combination of two tuples.</h4>

---

- For example, you passed two tuples such as `(0, 1, 2, 3)` and `('python', 'code')`.

- The returned tuple will be `(0, 1, 2, 3, 'python', 'code')`.

<details>

**<summary>Hint:</summary>**

- Why don't you try out the simple mathematical operation such as addition.

</details>

In [ ]:
def concatTuple(tup1=None, tup2=None):
  # Put your code here.
  return tup1+tup2

In [ ]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')

# Display the concatenation of tuples
print('Concatenated Tuple: {}'.format(concatTuple(tup1=tuple1, tup2=tuple2)))

Concatenated Tuple: (0, 1, 2, 3, 'python', 'code')

---
**<h4>Question 9:** Create a function that returns an indicator of whether a provided key already exists in a dictionary.</h4>

---

- For example, there's a dictionary such as `{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}`.

- You passed a value to the function such as `3`, then a returned value will be `True`.

- Let's say you passed a value to the function such as `8`, then a returned value will be `False`.

<details>

**<summary>Hint:</summary>**

- You must have learned about the control flow and operators in the python starter kit. Haven't you?

- You can get the desired result using simple IF-ELSE operation.

</details>

In [ ]:
def isKeyPresent(dict_in=None, key=None):
  # Put your code here.
  return key in dict_in

In [ ]:
dict_in = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# Display the indicator
print('Returned Indicator: {}'.format(isKeyPresent(dict_in=dict_in, key=8)))

Returned Indicator: False

---
**<h4>Question 10:** Create a function that returns a combination of two python dictionary.</h4>

---

- For example, there's are two dictionaries such as `{'a': 100, 'b': 200}` and `{'x': 300, 'y': 200}`.

- The returned dictionary will be `{'a': 100, 'b': 200, 'x': 300, 'y': 200}`.

<details>

**<summary>Hint:</summary>**

- Initialize a variable with empty dictionary or using dict() method.

- Update the newly initialized dictionary with the first dictionary using .update() method.

- Then again update the newly initialized dictionary with the second dictionary using .update() method.

</details>

In [ ]:
def combineDict(dict1=None, dict2=None):
  # Put your code here.
  dict1.update(dict2)
  return dict1

In [ ]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

# Display the final dictionary
print('Final Dictionary: {}'.format(combineDict(dict1=d1, dict2=d2)))

Final Dictionary: {'a': 100, 'b': 200, 'x': 300, 'y': 200}

---
**<h4>Question 11:** Create a function that returns a factorial of a number.</h4>

---

- For example, you passed `val = 5`.

- The returned value will be `120`.

- Underlying working is as shown: `1 * 2 * 3 * 4 * 5 = 120`.

<details>

**<summary>Hint:</summary>**

- Initialize factorial varialble with 1.

- If the number is negative display message that factorial of a negative number doesn't exist.

- Else if the number is zero return the initialized value.

- Else return the factorial value over the specified value in the function.

</details>

In [ ]:
def factorial():
  # Put your code here.
  inputt = int(input("Enter a number"))
  var = 1

  if inputt <0 or inputt ==0:
    print("Cant display")
  else:
    for i in range(1,inputt+1):
      var = var*i
  return var

**General** **Practice**

In [ ]:
# Display the fictorial value
print('Factorial: {}'.format(factorial()))

Enter a number4
Factorial: 24

In [ ]:
word = 'galaxy'
print(word[:-2])
print(word[-1::-1])

gala
yxalag

In [ ]:
customers = ['Marie', 'Anne', 'Donald']
print(len(customers))
customers[2:7] = ['Barack', 'Olivia', 'Sophia']
print(customers)
print(len(customers))

3
['Marie', 'Anne', 'Barack', 'Olivia', 'Sophia']
5

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1:-1])
print(len(letters[1:-1]))

['b', 'c']
2

In [ ]:
print(not 3 % 2)
print(not 4 % 2)

False
True